.entree{
font-size: 11px;
font-style: italic;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
color: #ab2121;
}

.plat{
font-size: 11px;
font-weight: bold;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
color: #3f3096b0;
}

.dessert{
font-size: 11px;
font-style: italic;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
color: #862a53;
}

.menu{
    margin-left: 250px;
    margin-right: 250px;
    background-color: black;
    padding-bottom: 200px;
}